<header class="header">
  <div class="header-left">
    <img src="assets/logo.png" alt="Logo" class="logo" />
  </div>
  
  <div class="search-box-centered">
    <input type="text" id="search-input" class="search-input" placeholder="Buscar documentación...">
    <div id="search-results" class="search-results"></div>
  </div>
  

  <div class="header-right">
    <label class="toggle-switch">
      <input type="checkbox" id="theme-toggle">
      <span class="slider"></span>
    </label>
  </div>
</header>
